<!DOCTYPE html>
<html lang="en" class="bg-base-100 w-full h-full min-h-screen m-0 p-0 ">
    <head>
        {{template "metatags" .}}
        {{template "css" .}}
        {{template "js" .}}
    </head>
    <body class="min-h-screen flex flex-col overflow-hidden">
        <nav class="navbar bg-neutral text-neutral-content">
            <div class="flex-1">
                <label for="main-drawer" class="btn btn-square btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </label>
                <a href="{{url "home"}}" class="btn btn-ghost text-xl">{{.AppName}}</a>
            </div>
            <div class="flex gap-1">
                <div class="flex-none">
                    {{template "search" .}}
                </div>

                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost rounded-btn">
                      Theme
                      <svg
                        width="12px"
                        height="12px"
                        class="inline-block h-2 w-2 fill-current opacity-60"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 2048 2048">
                        <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
                      </svg>
                    </div>
                    <ul tabindex="0" class="dropdown-content menu bg-neutral text-neutral-content rounded-box z-1 w-52 p-2 shadow-2xl">
                      <li>
                        <input
                          type="radio"
                          name="theme-dropdown"
                          class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                          aria-label="Default"
                          value="default" />
                      </li>
                      {{- range (.GetThemes)}}
                      <li>
                        <input
                          type="radio"
                          name="theme-dropdown"
                          class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
                          aria-label="{{.}}"
                          value="{{.}}"
                          hx-on:change="storeTheme('{{.}}')" />
                      </li>
                      {{- end}}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="drawer lg:drawer-open flex-1 overflow-hidden">
            <input id="main-drawer" type="checkbox" class="drawer-toggle" />

            <div class="drawer-content overflow-y-auto bg-base-100">
                <div class="container mx-auto">
                    <div class="bg-base-100 p-4 m-4 rounded-box">
                        {{- if .Title}}
                            <div class="prose">
                                <h1>{{.Title}}</h1>
                            </div>
                        {{- end}}

                        {{template "messages" .}}
                        {{template "content" .}}
                    </div>
                </div>
                {{template "footer" .}}
            </div>

            <div class="drawer-side">
                <label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                <aside class="w-64 bg-base-300 overflow-y-auto min-h-[calc(100vh-4rem)] lg:min-h-[calc(100vh-4rem)] min-h-screen" hx-boost="true">
                    <ul class="menu p-4 w-full">
                        <li>
                            <h2 class="menu-title">General</h2>
                            <ul>
                                <li>{{link (url "home") "Home" .Path}}</li>
                                <li>{{link (url "dashboard") "Dashboard" .Path}}</li>
                                <li>{{link (url "about") "About" .Path}}</li>
                                <li>{{link (url "contact") "Contact" .Path}}</li>
                                <li>{{link (url "cache") "Cache" .Path}}</li>
                                <li>{{link (url "task") "Task" .Path}}</li>
                                <li>{{link (url "click-to-edit.main") "Click to edit" .Path}}</li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="menu p-4">
                        <li>
                            <h2 class="menu-title">Account</h2>
                            <ul>
                            {{- if .IsAuth}}
                                <li>{{link (url "logout") "Logout" .Path}}</li>
                            {{- else}}
                                <li>{{link (url "login") "Login" .Path}}</li>
                                <li>{{link (url "register") "Register" .Path}}</li>
                                <li>{{link (url "forgot_password") "Forgot password" .Path}}</li>
                            {{- end}}
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
        </div>

        <script>
            function storeTheme(theme) {
                localStorage.setItem('theme', theme);
                document.documentElement.setAttribute('data-theme', theme);
            }
        </script>
    </body>
</html>

{{define "search"}}
<div x-data="{}">
    <input class="input" type="search" placeholder="Search..." onclick="search_modal.showModal()"/>
    <dialog id="search_modal" class="modal w-full" x-data>
        <div class="modal-box">
            <div class="prose">
                <h2>Search</h2>
                <p>
                    <input
                        hx-get="{{url "search"}}"
                        hx-trigger="keyup changed delay:500ms"
                        hx-target="#results"
                        name="query"
                        class="input w-full"
                        type="search"
                        placeholder="Search..."
                        x-ref="input"
                        @dialog-shown.window="$nextTick(() => $refs.input.focus())"
                    />
                </p>
                <ul id="results"></ul>
            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>
</div>
{{end}}
